body{
    background: linear-gradient(to right, #45B39D, #ec38bc, #7303c0, cyan);   
}
.title{
    border-radius: 5px;
    border-color:black;
    background-color: #6C3483;
    color: #D7BDE2;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace; 
}
.ctittle{
    width: 50%;
    margin-top: 3%;
    text-align: center;
    margin-left: 25%;
}
.card{
    margin-left: 10%;
    margin-top: 5%;
    text-align: center;
    background-color: #6C3483;
}
.card2{
    margin-left: 40%;
    margin-top: -4.5%;
    background-color: #6C3483;
}
.card3{
    margin-left: 70%;
    margin-top: -4.5%;
    background-color: #6C3483;
}
.card5{
    margin-left: 40%;
    margin-top: -4.8%;
    background-color: #6C3483;
}
.card6{
    margin-left: 70%;
    margin-top: -4.4%;
    background-color: #6C3483;
}
.card7{
    margin-left: 40%;
    margin-top: 5%;
    background-color: #6C3483;
}
